<div class="row">
  <div class="center-align">
    <h4>Ustawienia:</h4>

    <div class="col s12">
      Wiek:
      <div class="input-field inline">
        <input id="wiek" [(ngModel)]="profile.age" type="number" max="130" class="validate center-align">
      </div>
    </div>

    <div class="col s12">
      Waga:
      <div class="input-field inline">
        <input id="waga" [(ngModel)]="profile.weight" min="20" type="number" class="validate center-align">
      </div>
    </div>

    <div class="section center">
      <app-dropdown [label]="'wybierz'" [items]="items"></app-dropdown>
    </div>

    <a (click)="saveDataProfile()" class="btn waves-effect green">Zapisz</a>

  </div>
</div>
