<div class="row center-align container">

  <app-date-chooser (event)="selectDayHandler($event)"></app-date-chooser>

  <h3 [class]="changeColor()">Limit: {{calculateCalories(calorieLimit)}} kcal</h3>
  <!--<div class="progress">
    <div class="determinate" style="width: 30%"></div>
  </div>-->
  <a (click)="addMeal()" class="btn waves-effect red">Add Meal</a>
  <a (click)="addActivity()" class="btn waves-effect green">Add Activity</a>

  <div *ngFor="let item of items">
    <app-item [mealVO]="item" (saveEvent)="saveMealHandler($event)" (delEvent)="deleteMealHandler($event)"></app-item>
  </div>

</div>
