<div class="row">
  <div class="center-align">
    <h4>Ustawienia:</h4>

    <div class="col s12">
      Wiek:
      <div class="input-field inline">
        <input id="wiek" type="number" max="130" class="validate">
        <label for="wiek" data-error="wrong" >wiek</label>
      </div>
    </div>

    <div class="col s12">
      Waga:
      <div class="input-field inline">
        <input id="waga" min="20" type="number" class="validate">
        <label for="waga" data-error="wrong">waga</label>
      </div>
    </div>

    <div class="section center">
      <a materialize="dropdown" class='dropdown-button btn' data-activates='dropdown2'>
        Aktywność
        <i class="material-icons right">arrow_drop_down</i>
      </a>

      <!-- Dropdown Structure -->
      <ul id='dropdown2' class='dropdown-content'>
        <li><a class="center">Brak</a></li>
        <li><a class="center">Mała</a></li>
        <li><a class="center">Średnia</a></li>
        <li><a class="center">Duża</a></li>
        <li><a class="center">Ogromna</a></li>
      </ul>
    </div>

    <a class="btn waves-effect green">Zapisz</a>

  </div>
</div>

<div class="row">

</div>
